
avi files/Latitude_38_-5_by_0.1_Traction_materialField_with_velocityField_Magnitude_with_Vectors.avi
avi files/Latitude_38_-5_by_0.1_Traction_and_Original_Latitude_38_Comparison_materialField_with_projPlasticStrain.avi
avi files/Latitude_38_-5_by_0.1_Traction_and_Original_Latitude_38_Comparison_materialField_with_strainRateFields.avi
avi files/Latitude_38_-5_by_0.1_Traction_and_Original_Latitude_38_Comparison_materialField_with_velocityField_Magnitude_with_Vectors.avi
avi files/Latitude_38_-5_by_0.1_Traction_materialField_with_projPlasticStrain.avi
avi files/Latitude_38_-5_by_0.1_Traction_materialField_with_strainRateFields.avi
avi files/Latitude_38_Traction_and_Original_Comparison_materialField_with_projPlasticStrain.avi
avi files/Latitude_38_Traction_and_Original_Comparison_materialField_with_velocityField_Magnitude_with_Vectors.avi
avi files/Latitude_38_Traction_and_Original_Comparison_materialField_with_strainRateFields.avi
